+font("Bodoni", bodoni72c-webfont)

=bodoni
	font-family: "Bodoni", Arial, sans-serif

body
	background: url(../img/bg.jpg) repeat center top
	background-size: cover
	font-size: 15px
	line-height: 1.46
	font-family: "Georgia"
	letter-spacing: 0.02em
	color: #000
	min-width: 320px
	&.is-ru
		letter-spacing: 0

.out
	max-width: 1209px
	margin: 0 auto
	+clr
	overflow: hidden

.content
	display: table
	+r(1024)
		display: block
		

.left, .right
	&-column
		text-align: center
		display: table-cell
		vertical-align: top
		position: relative
		+r(1280)
			// padding: 0 20px
		+r(1024)
			display: block
			width: 100%
			padding: 0 20px 20px
		img
			max-width: 100%
		.logo
			margin-bottom: 35px
			width: 100%
			max-width: 333px
.left-column
	width: 45.33%
	padding: 85px 3.228% 75px
	+r(1024)
		padding-top: 35px

.right-column
	width: 54.67%
	padding: 0 3.226%

.title-h2
	color: #000
	font-size: 27px
	line-height: 26px
	font-weight: normal
	letter-spacing: 0.02em
p
	text-align: justify
a
	text-decoration: none

//footer
.footer
	padding: 15px 3.226% 0
	text-align: center
	&__list
		font-size: 0.1px
		margin: 0 0 17px
		text-align: justify
		+r(1024)
			margin: 0 auto 17px
			max-width: 700px
			text-align: center
		&:after
			content: ''
			display: inline-block
			width: 100%
		li
			display: inline-block
			vertical-align: top
			font-size: 20px
			color: #98814c
			position: relative
			line-height: 1
			+r(1280)
				font-size: 18px
			+r(1024)
				display: block
				padding-bottom: 15px
			&.footer__divider
				+r(1024)
					display: none
					
		a
			color: #98814c
.bottom-img
	display: block
	margin: 0 auto 5px
	max-width: 1209px
	padding: 0 3.226%
	font-size: 0
	text-align: center
	img
		max-width: 100%