---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block left %}
<img src="img/logo-in-en.png" alt="">
{% endblock %}

{% block right %}
<form action="" class="form">
	<div class="form__question">
		<p>Choose</p>
		<p>your birthday</p>
	</div>
	<div class="form__answer">
		<select name="" id="">
			<option value="DD">DD</option>
			<option value="DD">DD</option>
		</select>
		<select name="" id="">
			<option value="MM">MM</option>
			<option value="MM">MM</option>
		</select>
		<select name="" id="">
			<option value="YYYY">YYYY</option>
			<option value="YYYY">YYYY</option>
		</select>
	</div>
	<ul class="lang">
		<li><a href="index-ru.html">русский</a></li>
		<li><a href="index-en.html" class="is-active">english</a></li>
	</ul>
	<button type="submit" class="btn">enter</button>
</form>
{% endblock %}
