<!DOCTYPE html>
<html>
  <head>
    {% include "layouts/_head.html" %}
    {# {% include "_media-tags.html" %} #}
  </head>
  {% if ru %}
  <body class="{{rus}}">
  {% else %}
  <body>
  {% endif %}
    <!-- BEGIN content -->
    <div class="out">
      <div class="content">
        <div class="left-column">
          {% block left %}{% endblock %}
        </div>
        <div class="right-column">
          {% block right %}{% endblock %}
        </div>
      </div>
      {% block footer %}
      {% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    {# <script type="text/javascript" src="js/vendor.js"></script> #}
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

  </body>
</html>
